* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

body {
    font-family: "Poppins", Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}

.site-header {
    background: #202020;
    max-width: 100%;
    padding: 0 10%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.site-header .site-branding {
    max-width: 300px;
}

.site-header .site-branding .site-title a {
    display: block;
    font-size: 18px;
    color: white;
    font-weight: 500;
    text-transform: capitalize;
    margin: 24px 0;
    text-decoration: none;
}

.site-navigation {
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.site-header .navbar {
    display: flex;
}

.navbar .nav-item {
    list-style: none;
}

.navbar .nav-item a {
    display: block;
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
}

.navbar .nav-item a span {
    font-size: 14px;
}

.navbar .nav-item img {
    margin-right: 0.5em;
    width: 1.3em;
    vertical-align: middle;
}

.cover-wrapper {
    position: relative;
    height: 95vh;
}

.cover-wrapper .cover-background-overlay {
    z-index: -1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.85) 100%), url(/files/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cover-wrapper .cover {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0 auto;
}

.cover .cover-divider {
    display: block;
    height: 3rem;
    width: 100%;
    margin-bottom: 1.25rem;
}

.cover .cover-seperator {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 1.25rem;
}

.cover .cover-seperator span {
    display: block;
    margin: 0 auto;
    width: 50%;
    border-top: 4px double white;
}

.cover .cover-title {
    padding: 30px;
    margin-bottom: 1.25rem;
}

.cover .cover-title h1 {
    color: white;
    font-weight: bold;
    font-size: 6vw;
    letter-spacing: -3px;
    line-height: 1.2em;
    text-align: center;
}

.cover .card-container {
    display: flex;
    flex-wrap: wrap;
}

.cover .card-container .card {
    padding: 30px;
    width: 33.3333%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
    color: white;
}


.cover .card-container .card .card-title h4 {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.cover .card-container .card .card-description p {
    font-size: 1rem;
    margin-bottom: 0.9rem;
}

.responsive-nav-container {
    display: none;
}

.cover .widget-wrapper {
    display: flex;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    justify-content: center;
}

.cover .widget-wrapper .widget {
    top: 22px;
    position: relative;
    color: #545957;
    background-color: white;
    font-weight: 600;
    padding: 10px 100px;
    border-radius: 5px 5px 0 0;
}

.project {
    padding: 5rem 0 2rem 0;
}

.project .first {
    padding: 0px 3rem;
    display: flex;
    flex-direction: column;
}

.project .second {
    display: flex;
    align-items: center;
}

.project .second img {
    width: 100%;
}

.project-span {
    color: #ce6161;
    font-weight: bold;
    margin-bottom: 2rem;
}

.project-title h2 {
    letter-spacing: -3px;
    line-height: 1.2em;
    color: #202020;
    font-size: 3.5vw;
    margin-bottom: 2rem;
}

.project-description p {
    font-family: "Montserrat", sans-serif;
    color: #7a7a7a;
    margin-bottom: 2rem;
}

.project-button {
    margin-bottom: 2rem;

}

.project-button a {
    font-family: "Montserrat", sans-serif;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    border: 1px solid #FF7052;
    background-color: #FF7052;
    box-shadow: 0px 10px 30px -8px rgb(0 0 0 / 16%);
    transition: all 400ms;
}

.project-button a:hover {
    color: #FF7052;
    background: white;
}

.project-button a i {
    vertical-align: middle;
}

.img-widget-wrapper {
    padding: 3% 5%;
    padding-bottom: 0;
}

.img-widget {
    display: flex;
    flex-direction: column;
    color: #7a7a7a;
    margin-top: 30px;
    padding: 1rem;
}

.img-widget p {
    font-size: 14px;
    margin-bottom: 1rem;
}

.img-widget .img-widget-box-img {
    width: 20%;
    margin-bottom: 1rem;
}

.img-widget .img-widget-box-img img {
    width: 100%;
    height: auto;
    opacity: 0.7;
    filter: brightness(100%) contrast(100%) saturate(0%) blur(0px) hue-rotate(0deg);
    transition-duration: 0.5s;
}

.img-widget .img-widget-box-img img:hover {
    opacity: 1;
    transition: opacity 400ms;
}

.project.second {
    background-color: transparent;
    background-image: linear-gradient(45deg, #C1EAFB 0%, #FBC6D3 100%);
}

.project.third {
    background-color: transparent;
    background-image: linear-gradient(215deg, #61CE70 0%, #6EC1E4 100%);
}

.project.fifth {
    background-color: transparent;
    background-image: linear-gradient(140deg, #ebb0e7 0%, #2642D3 100%);
}

.project.seventh {
    background-color: transparent;
    background-image: linear-gradient(45deg, #61CE70 0%, #6EC1E4 100%);
}

.project.ninth {
    background-color: transparent;
    background-image: linear-gradient(45deg, #61CE70 0%, #6EC1E4 100%);
}

.project.fifth .white {
    color: white;
}

.project.fifth .btn-white {
    background: white;
    color: #545957;
    border: 1px solid white;
}

.project.fifth .btn-white:hover {
    background: transparent;
    color: white;
}

.project-padding {
    padding: 8% 3%;
}

.feature-list {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.feature-item {
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}

.feature-item .icon span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    color: white;
    height: 24px;
    width: 24px;
    background-color: #186E04;
    border-radius: 50%;
}

.feature-item .item {
    padding: 0 10px;
}

.feature-item .item p {
    font-size: 14px;
    color: #7A7A7A;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.row .col-3 {
    width: 25%;
}

.row .col-4 {
    width: 33.33333%;
}

.row .col-6 {
    width: 50%;
}

.row .col-8 {
    width: 66.66666%;
}

.row .col-9 {
    width: 75%;
}

.row .col-12 {
    width: 100%;
}

.max-width-80 {
    max-width: 80%;
}

.max-width-100 {
    max-width: 100%;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.pl-0 {
    padding-left: 0 !important;
}

.px-3rem {
    padding: 0 3rem;
}

.px-20 {
    padding-left: 12px;
    padding-right: 12px;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.mt-0 {
    margin-top: 0;
}

.d-flex {
    display: flex;
}

.flex-direction-column {
    flex-direction: column;
}

.justify-content-center {
    justify-content: center;
}


.text-align-center {
    text-align: center;
}

.align-items-center {
    align-items: center;
}

.p-10 {
    padding: 10px;
}

.pb-10 {
    padding-bottom: 10px;
}

.pb-20 {
    padding-bottom: 20px;
}

.pb-2rem {
    padding-bottom: 2rem;
}

.skills {
    background-color: #E1ECF0;
}

.skills .skills-title {
    padding: 3rem;
    text-align: center;
}

.skills .skills-title h1 {
    font-size: 4vw;
}

.skills .card-grid-container {
    padding: 0 3% 5% 3%;
    column-width: 300px;
}

.skills .card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px #eee;
    break-inside: avoid-column;
    background-color: #ffffff;
    margin-bottom: 10px;
    border-radius: 10px;
    padding: 1.5rem;
}

.skills .card p {
    font-size: 14px;
    color: #7A7A7A;
}


.footer {
    background-color: #56575f;
}

.footer .footer-title {
    padding: 3rem;
    text-align: center;
}

.footer .footer-title h1 {
    padding-top: 4%;
    color: white;
    font-size: 4vw;
}

.footer-padding {
    padding: 0 8%;
    padding-bottom: 6%;
}

.footer .row p {
    color: white;
}

.footer .row h6 {
    color: white;
}

#responsive-nav-button {
    display: none;
}

.social-links-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.social-links-wrapper .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 38px;
    padding: 0.5em;
    font-size: 1rem;
    margin-right: 5px;
    border: 2px solid #818a91;
    border-radius: 50%;
    color: white;
    text-decoration: none;
}

.social-link.twitter {
    background-color: #1da1f2;
}

.social-link.github {
    background-color: #333333;
}

.social-link.dribble {
    background-color: #ea4c89;
}

.social-link.telegram {
    background-color: #2ca5e0;
}

.form-field {
    width: 100%;
    padding-bottom: 20px;
}

.form-field span {
    font-weight: bold;
    display: block;
    color: white;
}

.form-field span i {
    color: rgb(189, 0, 0);
}

.form-field input[type=text] {
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 2px;
}

.form-field textarea {
    width: 100%;
    border: 1px solid gray;
    border-radius: 2px;
}

.form-field input[type=submit] {
    width: 30%;
    height: 40px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    color: white;
    background: #23A455;
    transition: all 0.4s;
}


.form-field input[type=submit]:hover {
    border: 1px solid white;
    transform: scale(1.1);
    background-color: transparent;
}

@media (max-width: 1024px) {
    .px-3rem {
        padding: 0;
    }
}

@media (max-width: 767px) {
    .row .col-sm-12 {
        width: 100%;
    }

    .row .col-sm-6 {
        width: 50%;
    }

    .cover-wrapper {
        padding: 2rem 2rem 0 2rem;
        height: auto;
    }


    .cover-wrapper .cover {
        width: 100%;
    }

    .cover .cover-title h1 {
        font-size: 7vh;
    }

    .cover .card-container .card {
        width: 100%;
    }

    .site-header .site-navigation {
        display: none;
    }

    #responsive-nav-button {
        display: block;
        position: absolute;
        background: none;
        border: none;
        width: 50px;
        height: 50px;
        top: 10px;
        right: 1rem;
    }

    .responsive-nav-box {
        display: flex;
        justify-content: center;
    }

    .responsive-nav-inner,
    .responsive-nav-inner::before,
    .responsive-nav-inner::after {
        width: 25px;
        height: 3px;
        background-color: #ffffff;
        border-radius: 4px;
        position: absolute;
        transition: transform 0.5s ease;
    }

    .responsive-nav-inner::before {
        display: block;
        content: "";
        top: -8px;
    }

    .responsive-nav-inner::after {
        content: "";
        display: block;
        top: 8px;
    }

    .responsive-nav-box.is-active .responsive-nav-inner {
        transform: rotate(-45deg);
    }


    .responsive-nav-box.is-active .responsive-nav-inner::before,
    .responsive-nav-box.is-active .responsive-nav-inner::after {
        top: 0;
        transform: rotate(90deg);
    }

    .responsive-nav-container {
        display: initial;
        position: fixed;
        top: 0;
        left: 0;
        width: 75%;
        height: 100%;
        background-color: #202020;
        transition: transform 0.5s ease;
        overflow: hidden;
    }

    .responsive-nav-container .responsive-nav-wrapper {
        padding: 2rem;
    }

    .responsive-nav-container .responsive-nav-branding h1 {
        /* text-align: center; */
        font-size: 1.5rem;
        color: #ffffff;
    }

    .responsive-nav-container.push-animation {
        transform: translateX(-100%);
    }

    .responsive-nav-open .responsive-nav-container.push-animation {
        width: 75%;
        transform: translateX(-0%);
    }

    .project {
        padding: 3rem 1rem;
    }

    .project .first {
        padding: 1rem;
    }

    .project-title h2 {
        font-size: 6vw;
        letter-spacing: initial;
    }

    .sm-justify-content-center {
        justify-content: center;
    }

    .sm-max-width-100 {
        max-width: 100%;
    }

    .px-3rem {
        padding: 0 1rem;
    }
}